<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--系统初始密码-->
    <add key="InitPassword" value="111" />
    <!--数据库类型-->
    <add key="DatabaseType" value="MSSQL" />
    <!--文件及附件路径-->
    <add key="FilePath" value="D:\RoadFlow\Files" />
    <!--允许上传的文件类型-->
    <add key="UploadFileType" value="jpg,jpeg,png,gif,bmp,zip,rar,7z,doc,docx,xls,xlsx,ppt,pptx,pdf,txt,wmv,mp4" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=.;Initial Catalog=WEBFORM;Integrated Security=SSPI" name="PlatformConnection" providerName="System.Data.SqlClient" />
    <add name="PlatformConnectionOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xe)));User Id=SYSTEM;Password=111" />
    <add name="PlatformConnectionMySql" connectionString="Server=127.0.0.1;Database=roadflow;Uid=root;Pwd=1111;" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
    <pages validateRequest="false" enableViewState="false" enableEventValidation="false" enableViewStateMac="false"></pages>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" maxUrlLength="2097151" maxRequestLength="4194304" executionTimeout="600" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="40" timeout="20" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
	<security>
		<requestFiltering>
      <requestLimits maxAllowedContentLength="1048576000" maxQueryString="2097151" maxUrl="2097151"></requestLimits>
		</requestFiltering>
	</security>
  </system.webServer>
</configuration>
